@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 12px;
  background: rgba(55, 55, 55, 0.2);
  filter: blur(10px);
}
body::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 84, 0.5);
  border-radius: 10px;
  
}